<a href="https://colab.research.google.com/github/diego-borja/SENA/blob/main/Hist%C3%B3rico_ENI_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **1. Cargue de los datos**

In [3]:
import pandas as pd
#Leer archivo csv
historico_xlsx = '/content/drive/MyDrive/ESTADÍSTICA/Jupyter/Colab_Notebooks/SENA/Histórico_ENI_ 2022.xlsx'
alfabetico_xlsx = '/content/drive/MyDrive/ESTADÍSTICA/Jupyter/Colab_Notebooks/SENA/ALFABÉTICO_INSTRUCTORES_PLANTA_2022.xlsx'
#Datos = 'Histórico_ENI_ 2022.xlsx'
historico_completo = pd.read_excel(historico_xlsx, 'CAPACITACIONES REGIONALES')
alfabetico_completo = pd.read_excel(alfabetico_xlsx)
#df = pd.read_excel('FileName.xlsx', 'SheetName')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

## **2. Selección de columnas**

In [4]:
historico_completo.columns

Index(['N°', 'Fecha de Registro', 'N° Cédula del Participante',
       'Nombres y Apellidos del Participante', 'ID Regional del Participante',
       'Regional del Participante', 'ID Área/Dependencia del Asistente',
       'Centro ', 'Correo electrónico del Participante ',
       'Tipo de Vinculación del Participante', 'SEXO', 'Cargo del Asistente',
       'Red de Conocimiento', 'Àrea Temática', 'Tema de Capacitación',
       'COMPETENCIA DEL PIC', 'Entidad Capacitadora', 'Nombre Formador SENA',
       'Tipo', 'Horas de Capacitación', 'Horario de Capacitaciòn',
       'Fecha Inicio Capacitación', 'Fecha Fin Capacitación',
       'Pais de la Capacitación', 'Ciudad de la Capacitación ',
       'Modalidad de Capacitación', 'Tipo de Capacitación',
       'Clase de la Capacitación', 'Línea tecnologica', 'Acta de Compromiso',
       'Observaciones', 'Asesor/Solicito', 'Certificado',
       'Justificación de inasistencia o no certificación', 'Código',
       'Código de Capacitación',
       'Evaluación reacción y satisfacción de la Capacitación',
       'Evaluación impacto', 'Fecha Vencimiento Evaluación GTH-F-300'],
      dtype='object')

In [18]:
historico = historico_completo[['Fecha de Registro', 'N° Cédula del Participante',
       'Nombres y Apellidos del Participante','Entidad Capacitadora','Fecha Inicio Capacitación',
       'Modalidad de Capacitación', 'Tipo de Capacitación','Clase de la Capacitación',
       'Certificado','Justificación de inasistencia o no certificación','Código de Capacitación']]

In [6]:
historico.head()

,Fecha de Registro,N° Cédula del Participante,Nombres y Apellidos del Participante,Entidad Capacitadora,Fecha Inicio Capacitación,Modalidad de Capacitación,Tipo de Capacitación,Clase de la Capacitación,Certificado,Justificación de inasistencia o no certificación,Código de Capacitación
0,2022-02-02,72005788,Ariza Arnedo Jhonny Alberto,THE SIEMON COMPANY,2022-02-14,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...
1,2022-02-02,55235464,Jimenez Roa Luz Elena,THE SIEMON COMPANY,2022-02-14,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...
2,2022-02-02,32799317,Carrillo Valderrama Paola Andrea,THE SIEMON COMPANY,2022-02-14,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...
3,2022-02-02,9274281,Benjumea Acuña Nilson,THE SIEMON COMPANY,2022-02-14,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...
4,2022-02-02,73097515,Hoyos Hoyos Marceliano Jose,THE SIEMON COMPANY,2022-02-14,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...

In [7]:
alfabetico_completo.columns

Index(['DOCUMENTO', 'NOMBRE_COMPLETO', 'COD REGIONAL', 'REGIONAL', 'COD_CCOS',
       'DESPENDENCIA', 'FECHA_NACIMIENTO', 'FECHA_INGRESO', 'CARGO', 'SEXO',
       'DESCRIPCIÓN TIPO DE CARGO', 'NOMBRE ESTADO DE CARGO', 'CORREO SENA',
       'CORREO MISENA', 'CORREO 2', 'TELEFONO 1', 'TELEFONO 2', 'RED', 'AREA',
       'RUTA', 'OBSERVACIÓN ', 'FECHA', 'NUEVOS'],
      dtype='object')

In [8]:
alfabetico = alfabetico_completo[['DOCUMENTO', 'NOMBRE_COMPLETO', 'COD REGIONAL', 'REGIONAL', 'COD_CCOS',
       'DESPENDENCIA', 'CARGO', 'SEXO','DESCRIPCIÓN TIPO DE CARGO','RED', 'AREA',]]

In [9]:
alfabetico.head()

,DOCUMENTO,NOMBRE_COMPLETO,COD REGIONAL,REGIONAL,COD_CCOS,DESPENDENCIA,CARGO,SEXO,DESCRIPCIÓN TIPO DE CARGO,RED,AREA
0,1177705,Curtidor Guataqui Luis Alberto,5,ANTIOQUIA,9127,CENTRO DE FORMACIÓN MINERO AMBIENTAL,Instructor G09,M,CARRERA ADMINISTRATIVA,MINERÍA,MINERÍA
1,3165918,Aldana Marroquin Giovanny,5,ANTIOQUIA,9402,CENTRO DE SERVICIOS Y GESTION EMPRESARIAL,Instructor G15,M,CARRERA ADMINISTRATIVA,GESTIÓN ADMINISTRATIVA Y FINANCIERA,GESTIÓN ADMINISTRATIVA
2,3353119,Londoño Londoño Eucaris,5,ANTIOQUIA,9301,CENTRO DE COMERCIO,Instructor G16,M,CARRERA ADMINISTRATIVA,COMERCIO Y VENTAS,GESTIÓN DE MERCADOS
3,3353808,Cruz Vasquez Carlos Alberto,5,ANTIOQUIA,9201,CENTRO DE DISEÑO Y MANUFACTURA DE CUERO,Instructor G15,M,CARRERA ADMINISTRATIVA,CUERO CALZADO Y MARROQUINERÍA,FABRICACIÓN DE CALZADO
4,3408311,Quiroz Hoyos Ediccson Manuel,5,ANTIOQUIA,9402,CENTRO DE SERVICIOS Y GESTION EMPRESARIAL,Instructor G19,M,CARRERA ADMINISTRATIVA,INFORMATICA DISEÑO Y DESARROLLO DE SOFTWARE,SOFTWARE

In [10]:
alfabetico[alfabetico['DOCUMENTO'] == 72005788]

,DOCUMENTO,NOMBRE_COMPLETO,COD REGIONAL,REGIONAL,COD_CCOS,DESPENDENCIA,CARGO,SEXO,DESCRIPCIÓN TIPO DE CARGO,RED,AREA
997,72005788,Ariza Arnedo Jhonny Alberto,8,ATLÁNTICO,9207,CENTRO NACIONAL COLOMBO ALEMAN,Instructor G20,M,CARRERA ADMINISTRATIVA,INFORMATICA DISEÑO Y DESARROLLO DE SOFTWARE,INFRAESTRUCTURA

In [11]:
historico[historico['N° Cédula del Participante'] == 72005788]

,Fecha de Registro,N° Cédula del Participante,Nombres y Apellidos del Participante,Entidad Capacitadora,Fecha Inicio Capacitación,Modalidad de Capacitación,Tipo de Capacitación,Clase de la Capacitación,Certificado,Justificación de inasistencia o no certificación,Código de Capacitación
0,2022-02-02,72005788,Ariza Arnedo Jhonny Alberto,THE SIEMON COMPANY,2022-02-14,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...
56,2022-02-08,72005788,Ariza Arnedo Jhonny Alberto,MNEMO,2022-02-15,PRESENCIAL Y VIRTUAL,CLAVE Y TRANSVERSAL,CURSO,SI,NaN,CL150222 HACKING ÉTICO APLICACIONES WEB Y SIST...
3659,2022-05-02,72005788,Ariza Arnedo Jhonny Alberto,SENA-MOU Academias CISCO,2022-05-31,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,SI,NaN,TÉ310522 RUTA DE ENTRENAMIENTO CISCO IT ESSENT...
5087,2022-05-31,72005788,Ariza Arnedo Jhonny Alberto,SENA - AWS,2022-06-21,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ210622 RUTA DE ENTRENAMIENTO PARA INSTRUCTOR...

#**3. Renombrar las columnas**

In [12]:
alfabetico.columns

Index(['DOCUMENTO', 'NOMBRE_COMPLETO', 'COD REGIONAL', 'REGIONAL', 'COD_CCOS',
       'DESPENDENCIA', 'CARGO', 'SEXO', 'DESCRIPCIÓN TIPO DE CARGO', 'RED',
       'AREA'],
      dtype='object')

In [13]:
historico.columns

Index(['Fecha de Registro', 'N° Cédula del Participante',
       'Nombres y Apellidos del Participante', 'Entidad Capacitadora',
       'Fecha Inicio Capacitación', 'Modalidad de Capacitación',
       'Tipo de Capacitación', 'Clase de la Capacitación', 'Certificado',
       'Justificación de inasistencia o no certificación',
       'Código de Capacitación'],
      dtype='object')

In [14]:
alfabetico.rename(columns = {'NOMBRE_COMPLETO':'NOMBRE_INSTRUCTOR', 'COD REGIONAL':'COD_REGIONAL','COD_CCOS':'COD_CENTRO_FORMACIÓN',
                             'DESPENDENCIA':'CENTRO_FORMACIÓN', 'CARGO':'GRADO_INSTRUCTOR','DESCRIPCIÓN TIPO DE CARGO':'TIPO_VINCULACIÓN',
                             'RED':'RED_CONOCIMIENTO','AREA':'AREA_TEMÁTICA'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
alfabetico.head()

,DOCUMENTO,NOMBRE_INSTRUCTOR,COD_REGIONAL,REGIONAL,COD_CENTRO_FORMACIÓN,CENTRO_FORMACIÓN,GRADO_INSTRUCTOR,SEXO,TIPO_VINCULACIÓN,RED_CONOCIMIENTO,AREA_TEMÁTICA
0,1177705,Curtidor Guataqui Luis Alberto,5,ANTIOQUIA,9127,CENTRO DE FORMACIÓN MINERO AMBIENTAL,Instructor G09,M,CARRERA ADMINISTRATIVA,MINERÍA,MINERÍA
1,3165918,Aldana Marroquin Giovanny,5,ANTIOQUIA,9402,CENTRO DE SERVICIOS Y GESTION EMPRESARIAL,Instructor G15,M,CARRERA ADMINISTRATIVA,GESTIÓN ADMINISTRATIVA Y FINANCIERA,GESTIÓN ADMINISTRATIVA
2,3353119,Londoño Londoño Eucaris,5,ANTIOQUIA,9301,CENTRO DE COMERCIO,Instructor G16,M,CARRERA ADMINISTRATIVA,COMERCIO Y VENTAS,GESTIÓN DE MERCADOS
3,3353808,Cruz Vasquez Carlos Alberto,5,ANTIOQUIA,9201,CENTRO DE DISEÑO Y MANUFACTURA DE CUERO,Instructor G15,M,CARRERA ADMINISTRATIVA,CUERO CALZADO Y MARROQUINERÍA,FABRICACIÓN DE CALZADO
4,3408311,Quiroz Hoyos Ediccson Manuel,5,ANTIOQUIA,9402,CENTRO DE SERVICIOS Y GESTION EMPRESARIAL,Instructor G19,M,CARRERA ADMINISTRATIVA,INFORMATICA DISEÑO Y DESARROLLO DE SOFTWARE,SOFTWARE

In [16]:
historico = historico_completo[['Fecha de Registro', 'N° Cédula del Participante',
       'Nombres y Apellidos del Participante','Entidad Capacitadora','Fecha Inicio Capacitación',
       'Modalidad de Capacitación', 'Tipo de Capacitación','Clase de la Capacitación',
       'Certificado','Justificación de inasistencia o no certificación','Código de Capacitación']]

In [19]:
historico.columns = ['FECHA_REGISTRO', 'DOCUMENTO', 'NOMBRE_INSTRUCTOR','ENTIDAD_CAPACITADORA', 'FECHA_INICIO_CAPACITACIÓN', 'MODALIDAD_CAPACITACIÓN', 'TIPO_CAPACITACIÓN', 'CLASE_CAPACITACIÓN', 'CERTIFICADO', 'JUSTIFICACIÓN', 'CÓDIGO_CAPACITACIÓN']

In [20]:
historico.sample(n=10)

,FECHA_REGISTRO,DOCUMENTO,NOMBRE_INSTRUCTOR,ENTIDAD_CAPACITADORA,FECHA_INICIO_CAPACITACIÓN,MODALIDAD_CAPACITACIÓN,TIPO_CAPACITACIÓN,CLASE_CAPACITACIÓN,CERTIFICADO,JUSTIFICACIÓN,CÓDIGO_CAPACITACIÓN
545,2022-02-21,1090413416,Morantes Meza Jesualdo,UNIVERSIDAD DE BOGOTÁ JORGE TADEO LOZANO,2022-02-28,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,SI,NaN,TÉ280222 DISEÑO 4.0 MULTIMEDIA – INTRODUCCIÓN ...
4168,2022-05-10,1019030543,Lara Cuellar Andres Alberto,SENA,2022-05-10,PRESENCIAL Y VIRTUAL,PEDAGÓGICA,CURSO,NaN,NaN,PE100522 INCORPORACIÓN DE ACTIVIDADES STEAM CO...
3774,2022-05-03,1067843241,Peralta Aleman Jorge Mario,MELTEC COMUNICACIONES S.A.,2022-05-09,VIRTUAL,CLAVE Y TRANSVERSAL,CURSO,SI,NaN,CL090522 RUTA DE FORMACIÓN ENTRENAMIENTO HUAWE...
2972,2022-04-21,38212954,Acuña Gomez Ana Carolina,SENA,2022-05-02,PRESENCIAL,PEDAGÓGICA,CURSO,SI,NaN,PE020522 ACOMPAÑAMIENTO TÉCNICO-PEDAGÓGICO COM...
2327,2022-04-04,39047849,Sonia Esther Zapata Daza,UNIVERSIDAD NACIONAL DE COLOMBIA,2022-04-05,VIRTUAL,CLAVE Y TRANSVERSAL,TRANSFERENCIA,SI,NaN,CL050422 TRANSFERENCIA DE CONOCIMIENTO EN EL U...
4581,2022-05-16,80161863,Ostos Ramos Carlos Andres,SENA,2022-05-23,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,NaN,NaN,TÉ230522 DESARROLLO E INTEGRACIÓN DE AMBIENTES...
5552,2022-06-17,43493332,Cruel Marin Luz Yeny,SENA,2022-06-28,PRESENCIAL Y VIRTUAL,CLAVE Y TRANSVERSAL,CURSO,NaN,NaN,280622 APLICACIÓN DE HERRAMIENTAS DE PENSAMIEN...
962,2022-03-10,52300817,Chia Cepeda Luz Carime,SENA,2022-03-28,PRESENCIAL,TÉCNICA,CURSO,SI,NaN,TÉ280322 APLICACIÓN DEL ENFOQUE DIFERENCIAL EN...
5230,2022-06-07,34981180,Haidy Isabel Duque Cuesta,SENA,2022-05-31,PRESENCIAL Y VIRTUAL,CLAVE Y TRANSVERSAL,CURSO,NaN,NaN,310522 ORIENTACIÓN DE PROCESOS DE FORMACIÓN PA...
5931,2022-06-18,91241521,PEDRO NEL CASTRO GOMEZ,SOLTECO S.A.S.,2022-06-21,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,NaN,NaN,210622 TRANSFERENCIA DE CONOCIMIENTO CREACIÓN ...

In [21]:
historico.loc[2251,'CERTIFICADO']

'NO'

#**4. Tratamiento de datos faltantes e igualar entradas**

In [22]:
alfabetico.isnull().value_counts()

DOCUMENTO  NOMBRE_INSTRUCTOR  COD_REGIONAL  REGIONAL  COD_CENTRO_FORMACIÓN  CENTRO_FORMACIÓN  GRADO_INSTRUCTOR  SEXO   TIPO_VINCULACIÓN  RED_CONOCIMIENTO  AREA_TEMÁTICA
False      False              False         False     False                 False             False             False  False             False             False            6089
dtype: int64

In [23]:
historico['DOCUMENTO'].isnull().value_counts()

False    7240
True      147
Name: DOCUMENTO, dtype: int64

In [28]:
for columna in list(historico.columns):
  print('\033[1m' + columna + '\033[0m \n' + str(historico[columna].isnull().value_counts()) + '\n')

FECHA_REGISTRO
False    7240
Name: FECHA_REGISTRO, dtype: int64

DOCUMENTO
False    7240
Name: DOCUMENTO, dtype: int64

NOMBRE_INSTRUCTOR
False    7240
Name: NOMBRE_INSTRUCTOR, dtype: int64

ENTIDAD_CAPACITADORA
False    7240
Name: ENTIDAD_CAPACITADORA, dtype: int64

FECHA_INICIO_CAPACITACIÓN
False    7240
Name: FECHA_INICIO_CAPACITACIÓN, dtype: int64

MODALIDAD_CAPACITACIÓN
False    7240
Name: MODALIDAD_CAPACITACIÓN, dtype: int64

TIPO_CAPACITACIÓN
False    7240
Name: TIPO_CAPACITACIÓN, dtype: int64

CLASE_CAPACITACIÓN
False    7240
Name: CLASE_CAPACITACIÓN, dtype: int64

CERTIFICADO
False    7240
Name: CERTIFICADO, dtype: int64

JUSTIFICACIÓN
True     6654
False     586
Name: JUSTIFICACIÓN, dtype: int64

CÓDIGO_CAPACITACIÓN
False    7240
Name: CÓDIGO_CAPACITACIÓN, dtype: int64

In [36]:
#Filtra las filas sin registro de 'DOCUMENTO'
historico.dropna(subset=['DOCUMENTO'], axis=0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [37]:
import numpy as np

#Reemplaza los valores faltantes por 'SIN EVIDENCIA' de certificación
historico['CERTIFICADO'].replace(np.nan,'SIN EVIDENCIA', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [40]:
historico['CERTIFICADO'].value_counts()

SIN EVIDENCIA    4516
SI               2133
NO                591
Name: CERTIFICADO, dtype: int64

In [ ]:
def cambio(cert):
  if cert == 'SI ':
    cert = 'SI'
  elif cert == 'Si':
    cert = 'SI'
  elif cert == 'sI':
    cert = 'SI'

cambio('si')

In [39]:
#Unifica todos los registros de 'SI'
historico.loc[(historico['CERTIFICADO']=='SI ') | (historico['CERTIFICADO']=='Si') | (historico['CERTIFICADO']=='sI'),'CERTIFICADO'] = 'SI'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [34]:
historico['JUSTIFICACIÓN'].isnull()

0       True
1       True
2       True
3       True
4       True
        ...
7235    True
7236    True
7237    True
7238    True
7239    True
Name: JUSTIFICACIÓN, Length: 7240, dtype: bool

In [41]:
#Reemplaza registros - errores de digitación

historico['JUSTIFICACIÓN'].replace('Razon Administrativa','Razón Administrativa',inplace=True)
historico['JUSTIFICACIÓN'].replace('Calidad Doméstica','Calamidad Doméstica',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [42]:
#Los 'NO' certificados que no tienen justificación
historico.loc[(historico['CERTIFICADO']=='NO') & (historico['JUSTIFICACIÓN'].isnull()),'JUSTIFICACIÓN'] = "Sin justificación"
#historico['JUSTIFICACIÓN'] = np.where((historico['CERTIFICADO']=='NO') & (historico['JUSTIFICACIÓN'].isnull), "Sin justificación", historico['JUSTIFICACIÓN'])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [43]:
#Reemplaza valores faltantes
historico['JUSTIFICACIÓN'].replace(np.nan,'No aplica',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [45]:
#Reemplaza espacios en blanco ('\xa0')
historico.loc[historico['JUSTIFICACIÓN'] == '\xa0', 'JUSTIFICACIÓN'] = 'No aplica'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [46]:
historico[historico['JUSTIFICACIÓN'] == '\xa0']

Empty DataFrame
Columns: [FECHA_REGISTRO, DOCUMENTO, NOMBRE_INSTRUCTOR, ENTIDAD_CAPACITADORA, FECHA_INICIO_CAPACITACIÓN, MODALIDAD_CAPACITACIÓN, TIPO_CAPACITACIÓN, CLASE_CAPACITACIÓN, CERTIFICADO, JUSTIFICACIÓN, CÓDIGO_CAPACITACIÓN]
Index: []

In [47]:
historico[historico['CERTIFICADO'] == 'NO']['JUSTIFICACIÓN'].value_counts(dropna=False)

Razón Administrativa    555
Sin justificación        33
Calamidad Doméstica       3
Name: JUSTIFICACIÓN, dtype: int64

In [48]:
historico['JUSTIFICACIÓN'].value_counts()

No aplica               6649
Razón Administrativa     555
Sin justificación         33
Calamidad Doméstica        3
Name: JUSTIFICACIÓN, dtype: int64

In [49]:
historico.sample(n=5)

,FECHA_REGISTRO,DOCUMENTO,NOMBRE_INSTRUCTOR,ENTIDAD_CAPACITADORA,FECHA_INICIO_CAPACITACIÓN,MODALIDAD_CAPACITACIÓN,TIPO_CAPACITACIÓN,CLASE_CAPACITACIÓN,CERTIFICADO,JUSTIFICACIÓN,CÓDIGO_CAPACITACIÓN
6755,2022-07-13,77032447,Gonzalez Peralta Tomas Fabian,UTO,2022-05-08,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,SIN EVIDENCIA,No aplica,080522 SERVICIO TÉCNICO A EQUIPOS DE REFRIGERA...
4142,2022-05-06,16834822,Moreno Carabali Walteiro,SENA,2022-05-02,PRESENCIAL Y VIRTUAL,PEDAGÓGICA,CURSO,SIN EVIDENCIA,No aplica,PE020522 IMPLEMENTACIÓN DE PROCESOS PEDAGÓGICO...
2318,2022-04-04,20654719,Dilsa Enith Triana Martinez,UNIVERSIDAD NACIONAL DE COLOMBIA,2022-04-05,VIRTUAL,CLAVE Y TRANSVERSAL,TRANSFERENCIA,NO,Razón Administrativa,CL050422 TRANSFERENCIA DE CONOCIMIENTO EN EL U...
4799,2022-05-20,98400496,Betancourth Jurado Jorge Fernando,SENA - ACADEMIA CISCO,2022-07-19,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,SIN EVIDENCIA,No aplica,TÉ190722 CONV. # 2 RUTA DE ENTRENAMIENTO CISCO...
402,2022-02-15,43600922,Atehortua Zuleta Leidy Yulima,FESTO - UNIVERSITARIA AGUSTINIANA,2022-03-02,PRESENCIAL Y VIRTUAL,TÉCNICA,CURSO,SI,No aplica,TÉ020322 METODOLOGÍAS ÁGILES EN LA GESTIÓN DE ...

#**5. Conteo de capacitaciones por instructor**

In [52]:
capacitaciones_instructor = historico['DOCUMENTO'].value_counts().to_frame()
capacitaciones_instructor.reset_index(inplace=True)
capacitaciones_instructor.columns=['DOCUMENTO','NÚMERO_CAPACITACIONES']
capacitaciones_instructor

       DOCUMENTO  NÚMERO_CAPACITACIONES
0     1053824878                      6
1       91222115                      6
2       72428604                      5
3       72254647                      5
4     1116545677                      5
...          ...                    ...
5311    41906990                      1
5312  1094880259                      1
5313  1094880995                      1
5314  1097400696                      1
5315    30396585                      1

[5316 rows x 2 columns]

In [53]:
capacitaciones_instructor['DOCUMENTO']

0       1053824878
1         91222115
2         72428604
3         72254647
4       1116545677
           ...
5311      41906990
5312    1094880259
5313    1094880995
5314    1097400696
5315      30396585
Name: DOCUMENTO, Length: 5316, dtype: object

In [ ]:
capacitaciones_instructor['DOCUMENTO_EDIT'] = ecapacitaciones_instructor['DOCUMENTO'].astype(str).str.replace(u'\xa0', '')

In [ ]:
capacitaciones_instructor = capacitaciones_instructor.astype({"DOCUMENTO": int})

In [ ]:
capacitaciones_instructor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5316 entries, 0 to 5315
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DOCUMENTO              5316 non-null   int64
 1   NÚMERO_CAPACITACIONES  5316 non-null   int64
dtypes: int64(2)
memory usage: 83.2 KB

In [ ]:
capacitaciones_instructor['DOCUMENTO'].isnull().value_counts

<bound method IndexOpsMixin.value_counts of 0       False
1       False
2       False
3       False
4       False
        ...
5311    False
5312    False
5313    False
5314    False
5315    False
Name: DOCUMENTO, Length: 5316, dtype: bool>