<a href="https://colab.research.google.com/github/diego-borja/SENA/blob/main/Hist%C3%B3rico_ENI_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
#Leer archivo csv
Datos = '/content/drive/MyDrive/ESTADÍSTICA/Jupyter/Colab_Notebooks/SENA/Histórico_ENI_ 2022.xlsx'
#Datos = 'Histórico_ENI_ 2022.xlsx'
df = pd.read_excel(Datos, 'CAPACITACIONES_REGIONALES')
df=df.dropna(how='all')
df.head()
#df = pd.read_excel('FileName.xlsx', 'SheetName')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,N°,Fecha de Registro,N° Cédula del Participante,Nombres y Apellidos del Participante,ID Regional del Participante,Regional del Participante,ID Área/Dependencia del Asistente,Centro,Correo electrónico del Participante,Tipo de Vinculación del Participante,...,Acta de Compromiso,Observaciones,Asesor/Solicito,Certificado,Justificación de inasistencia o no certificación,Código,Código de Capacitación,Evaluación reacción y satisfacción de la Capacitación,Evaluación impacto,Fecha Vencimiento Evaluación GTH-F-300
0,1,2022-02-02,72005788,Ariza Arnedo Jhonny Alberto,8.0,ATLÁNTICO,9207.0,CENTRO NACIONAL COLOMBO ALEMAN,jarizaa@sena.edu.co,PROVISTO - ACTIVO,...,SI,,Ulises Rafael Frias Conde / Juan Gabriel Galea...,SI,NaN,140222,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...,NaN,NaN,2022-02-26
1,2,2022-02-02,55235464,Jimenez Roa Luz Elena,8.0,ATLÁNTICO,9207.0,CENTRO NACIONAL COLOMBO ALEMAN,ljimenezr@sena.edu.co,NOMBRAMIENTO PERIODO PRUEBA,...,SI,,Ulises Rafael Frias Conde / Juan Gabriel Galea...,SI,NaN,140222,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...,NaN,NaN,2022-02-26
2,3,2022-02-02,32799317,Carrillo Valderrama Paola Andrea,8.0,ATLÁNTICO,9207.0,CENTRO NACIONAL COLOMBO ALEMAN,pcarrillo@sena.edu.co,PROVISTO - ACTIVO,...,SI,,Ulises Rafael Frias Conde / Juan Gabriel Galea...,SI,NaN,140222,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...,NaN,NaN,2022-02-26
3,4,2022-02-02,9274281,Benjumea Acuña Nilson,13.0,BOLÍVAR,9218.0,CENTRO PARA LA INDUSTRIA PETROQUIMICA,nbenjumeaa@sena.edu.co,PROVISTO - ACTIVO,...,SI,,Ulises Rafael Frias Conde / Juan Gabriel Galea...,SI,NaN,140222,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...,NaN,NaN,2022-02-26
4,5,2022-02-02,73097515,Hoyos Hoyos Marceliano Jose,13.0,BOLÍVAR,9218.0,CENTRO PARA LA INDUSTRIA PETROQUIMICA,mhoyosh@sena.edu.co,PROVISTO - ACTIVO,...,SI,,Ulises Rafael Frias Conde / Juan Gabriel Galea...,SI,NaN,140222,TÉ140222 DISEÑO Y PRÁCTICAS DE INSTALACIÓN PAR...,NaN,NaN,2022-02-26

In [ ]:
df.tail()

,N°,Fecha de Registro,N° Cédula del Participante,Nombres y Apellidos del Participante,ID Regional del Participante,Regional del Participante,ID Área/Dependencia del Asistente,Centro,Correo electrónico del Participante,Tipo de Vinculación del Participante,...,Acta de Compromiso,Observaciones,Asesor/Solicito,Certificado,Justificación de inasistencia o no certificación,Código,Código de Capacitación,Evaluación reacción y satisfacción de la Capacitación,Evaluación impacto,Fecha Vencimiento Evaluación GTH-F-300
7128,7129,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,000100,NaN,NaN,1900-01-07
7129,7130,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,000100,NaN,NaN,1900-01-07
7130,7131,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,000100,NaN,NaN,1900-01-07
7131,7132,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,000100,NaN,NaN,1900-01-07
7132,7133,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,000100,NaN,NaN,1900-01-07

In [6]:
df['N° Cédula del Participante']

0       72005788
1       55235464
2       32799317
3        9274281
4       73097515
          ...
7128         NaN
7129         NaN
7130         NaN
7131         NaN
7132         NaN
Name: N° Cédula del Participante, Length: 7133, dtype: object